[Unit]
Description=Qdrant Vector Database
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/qdrant --config-path /etc/qdrant/config.yaml --uri 'http://{{ qdrant_master }}:6335'
Restart=always
TimeoutSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
